@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.mat-toolbar {
    background: rgb(240, 162, 47);
    color: rgb(5, 5, 5);
    font-size: 20px;
   
      
 }
 a{
     color:black
 }

 #title{
     font-size: 50px;
     font-family: 'Staatliches', cursive;
     margin-left: 15px;
     
 }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 13px;
    }
    a {
    text-decoration: none;
    color: white;
    }
    .separador{
        flex: 1;
        }
:host {
    
    display: block;
  }

  .mat-raised-button{
    background-color: rgb(240, 162, 47);
  }
  #bn_voltar{
    margin-left: 10px; 
    margin-top: 30px;
  }
  .mat-spinner {
    margin: auto;
  }
  .paciente-imagem {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .paciente-imagem > img {
    max-width: 50%;
  }
  mat-paginator {
    margin-top: 1rem;
    }