<mat-spinner *ngIf="estaCarregando"></mat-spinner>
<mat-accordion *ngIf="pacientes.length > 0 && !estaCarregando">
    <mat-expansion-panel *ngFor="let paciente of pacientes">
      <mat-expansion-panel-header
        >Nome: {{ paciente.nome }}
      </mat-expansion-panel-header>
      <div class="paciente-imagem">
        <img [src]="paciente.imagemURL" [alt]="paciente.nome" />
      </div>
      <p>Fone: {{ paciente.fone }}</p>
    <hr />
    <p>Email: {{ paciente.email }}</p>
    <hr />
    <p>Estado: {{ paciente.estado }}</p>
    <hr />
    <p>Data Nascimento: {{ paciente.datanasc}}</p>
    <hr />
      <mat-action-row>
        <a mat-button color="primary" [routerLink]="['/editarPaciente', paciente.id]">EDITAR</a>
        <button mat-button color="warn"(click)="onDeletePaciente(paciente.id)">REMOVER</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  
  <p class="mat-body-1" style="text-align: center" *ngIf="pacientes.length <= 0 &&! estaCarregando">
    Nenhum paciente cadastrado
  </p>
  <button id=bn_voltar mat-raised-button > Voltar ao inicio </button>