<mat-toolbar color="basic">
    <h4 id=title>Ideia Amiga</h4>
    <span class="separador"></span>
    <span id=home><a routerLink="/inicio">Inicio</a></span>
    <ul>
      <a routerLink="/lista">Voluntarios</a></ul>
      <ul>
        <a routerLink="/criar">Cadastro</a>
      </ul>
      <ul>
        <a routerLink="/pacientelista">Pacientes</a>
      </ul>
      <ul>
        <a routerLink="/agendar">Agendamentos</a>
      </ul>
    </mat-toolbar>
    
<br>
<mat-card>
<mat-card-title id="title-home">Ideia Amiga</mat-card-title>
<p>Ideia amiga é uma plataforma de consultas voluntárias com Psicólogos e Terapeutas, com foco em ajudar pessoas que sofreram algum tipo de trauma ou desenvolveram transtornos  devido a pandemia.
Sabemos que foram tempos difíceis, mas com apoio e tratamento podemos sempre melhorar, as consultas são totalmente gratuitas, os profissionais disponibilizam o tempo que estão livres em suas agendas e os pacientes marcam seus horários conforme a disponibilidade.
Nossa plataforma também conta com o feed de história para que possamos contar um pouco sobre nossas experiências, formando uma grande corrente de apoio.</p>  


<div class="container">
	<div class="section section--demo" id="examples"></div>
</div>
<div class="demo">
    <carousel
        [images]="imagesForSlider"
        [objectFit]="'cover'"
        [cellWidth]="'100%'"
        [height]="300"
        [autoplay]="true"
        [dots]="true"
        [loop]="true">
    </carousel>
</div>
</mat-card>
