@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.mat-toolbar {
    background: rgb(240, 162, 47);
    color: rgb(5, 5, 5);
    font-size: 20px;
   
      
 }
 a{
     color:black
 }

 #title{
     font-size: 50px;
     font-family: 'Staatliches', cursive;
     margin-left: 15px;
     
 }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 13px;
    }
    a {
    text-decoration: none;
    color: white;
    }
    .separador{
        flex: 1;
        }
.mat-card{
    margin-left: 10px;
    margin-right: 10px;
    width: 96%;
    
    
}

.carousel{
    align-self: center;
    margin:auto; 
    width: 750px;
}
 
#title-home{
    font-family: 'Staatliches', cursive;
    size:30px;
    
}
